<.center>
        <img class="max-h-60" src={~p"/images/mwm-logo-grey.png"} />
</.center>
<.render_element element={@bio} />
<.heading>Upcoming classes</.heading>
<%= for record <- @data do %>
  <.event_row record={record} link={"#{@base_url}/register/#{record["id"]}"} media="Banner" />
<% end %>