<h1>Kanban</h1>
<h2>Transfer tickets</h2>
<%= form_for @conn, Routes.kanban_path(@conn, :complete_epic), fn form -> %>
    <label>From page ID</label>
    <%= text_input form, :source %>

    <label>To page ID</label>
    <%= text_input form, :destination %>
    <p />
    <%= submit "Submit" %>
<% end %>