<.heading>Settings</.heading>
<.simple_form :let={f} for={@form} action={~p"/apps/events/configure"}>
  <.input field={f[:host_name]} label="Your name" />
  <.input field={f[:link]} label="Page link" />
  <.input field={f[:events_db]} label="Events Database page ID" input_class="notionLink" />
  <.input field={f[:signups_db]} label="Signups Database page ID" input_class="notionLink" />
  <.input field={f[:events_name]} label="Signup relation name to Events" />
  <.button>Save</.button>
</.simple_form>
