<h1 class="text-xl font-semibold">Upload expense</h1>

<.simple_form for={%{}} as={:expense} action={~p"/apps/budget/expense"}>
    <.input type="text" label="Title" name="name" value="" />
    <.input type="select" label="Category" name="category" options={@categories} value="" />
    <.input type="number" label="Amount" name="amount" value="" />
    <.button>Save</.button>
</.simple_form>
