<!DOCTYPE html>
<html>
<head>
    <style>
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% {  transform: rotate(359deg); }
        }
        #spinner {
            animation: spin 3s linear infinite;
        }
    </style>
</head>
<body>
    <div id="myplot">
        <div id="loading">
            <.loading_spinner />
        </div>
    </div>
    <script type="module">

    import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm";
    import {json} from "https://cdn.skypack.dev/d3-fetch@3";

    json("/api/apps/budget/month_to_date", {timeout: 0})
    .then((data) => {
        var angle = 0;
        if (data.length > 12) {
            angle = 15;
        }
        if (data.length > 18) {
            angle = 30;
        }
        const plot = Plot.plot({
            color: {"legend": true},
            marginBottom: 40,
            x: {"axis": null},
            marks: [
                Plot.barY(data, Plot.groupX({y: "identity"}, {x: "type", fx: "category", y: "value", fill: "type", tip: true})),
                Plot.axisFx({anchor: "bottom", tickRotate: angle, label: null, textAnchor: "centre"}),
                Plot.ruleY([0])
            ]
        });
        const div = document.querySelector("#myplot");
        var heading = document.createElement("h3");
        heading.innerHTML = "Monthly spend";
        heading.style.fontFamily = "system-ui";
        heading.style.fontWeight = "normal";

        div.replaceChildren(heading, plot);
    });

    </script>
</body>
</html>
