<div id="month-to-date" style="width:100%;max-height:400px;"></div>
<script>
    var div = document.getElementById("month-to-date");

    <%= raw @plot_data %>;

    Plotly.newPlot(div, data, layout);
</script>
<p>
    <a href={ Routes.budget_path(@conn, :expense) }>Add a new expense</a>
</p>
<p>
    <a href={ Routes.budget_path(@conn, :settings) }>Configure the integration</a>
</p>